 body{
    background-color: #808080;
}

.block{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form1, .form2{
    z-index: -1;
    height: 100vh;
    width: 100%;
}

