 body{
    background-color: rgb(222, 222, 222);
    height: 2000px;
    width: 2000px;
}

.block{
    height: 700px;
    width: 900px;
    border: 1px solid black;
    background-color: white;
    border-radius: 40px;
    margin: auto;
    margin-top: 50px;
}

